# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing/Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/
*.spec

# Database & Data
*.sqlite
*.sqlite3
*.db
cases/*
!cases/.gitkeep
data/*
!data/.gitkeep
logs/*
!logs/.gitkeep

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
